%h1 Listing jobs

%table
  %thead
    %tr
      %th Title
      %th Command
      %th Output
      %th User
      %th Instance component
      %th Success
      %th Started at
      %th Finished at
      %th Delayed job
      %th
      %th
      %th
      
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.title
        %td= job.command
        %td= job.output
        %td= job.user
        %td= job.instance_component
        %td= job.success
        %td= job.started_at
        %td= job.finished_at
        %td= job.delayed_job_id
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
