%h1 Listing jobs

%table.table
  %thead
    %tr
      %th Command
      %th Success
      %th Started at
      %th Finished at
      %th
      %th
      %th
      
  %tbody
    - @jobs.each do |job|
      %tr
        %td
          %pre
            = preserve do
              = job.command
        %td= job.success
        %td= job.started_at
        %td= job.finished_at
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
