%p#notice= notice

%p
  %b App:
  = @app_component.app
%p
  %b Name:
  = @app_component.name
%p
  %b Description:
  = @app_component.description
%p
  %b Type:
  = @app_component.type
%p
  %b Template:
  = @app_component.template
%p
  %b Instructions:
  = @app_component.instructions

= link_to 'Edit', edit_app_app_component_path(@app, @app_component)
\|
= link_to 'Back', app_app_components_path(@app)
